@font-face {
  font-family: "HelveticaNeueLight";
  src: url("./assets/fonts/HelveticaNeueLight.otf");
}

html, body {
   margin: 0;
   height: 100%;
   overflow-y: hidden;
   overflow-x: hidden;
}


.container{
  z-index: 1;
}

.menu-bars{
  font-family: "HelveticaNeueLight";
  font-size: 50px;
  color: white;
}
.menu-bars:hover{
  cursor: pointer;
}
.upper-left-text{
  position: absolute;
}

.upper-right-text{
  position: absolute;
  transform: rotate(90deg);
  left: 1920px;
  
  transform-origin: left top;
  transition: left 0.5s ease-in-out;
}

.lower-right-text{
  position: absolute;
  transform: rotate(180deg);
  right: 0px;
  top: 941px;
  transition: top 0.5s ease-in-out;
}

.lower-left-text{
  position: absolute;;
  transform: rotate(-90deg);
  transform-origin: left top;
  left: 0px;
  top: 991px;
  transition: left 0.5s ease-in-out;
}

/* keep line gap width to 97vw for now */
.upper-line{
  position: absolute;
  top: 5vh; /* Adjust as needed */
  left: 0;
  width: 97vw; /* 75% of the viewport width */
  height: 2px; /* Line thickness */
  background-color: white; /* Line color */
  transition: width 0.5s ease-in-out;
}

.right-line{
  position: absolute;
  top: 0; /* Start from the top of the page */
  left: 97vw; /* Position at 75% of the page width */
  width: 2px; /* Line thickness */
  height: 97vh; /* 75% of the viewport height */
  background-color: white; /* Line color */
  transition: left 0.5s ease-in-out;
}

.lower-line{
  position: absolute;
  top: 97vh; /* Adjust as needed */
  left: 3vw;
  width: 97vw; /* 75% of the viewport width */
  height: 2px; /* Line thickness */
  background-color: white; /* Line color */
  transition: top 0.5s ease-in-out;
}

.left-line{
  position: absolute;
  top: 5vh; /* Start from the top of the page */
  left: 3vw; /* Position at 75% of the page width */
  width: 2px; /* Line thickness */
  height: 97vh; /* 75% of the viewport height */
  background-color: white; /* Line color */
  transition: left 0.5s ease-in-out;
}

.thumbnail-gallery{

}

.category-menu-bars{
  position: absolute;
  left: -500px;
  transition: left 0.5s ease-in-out;
}

.category-menu-bars a{
  display: block;
  color: white;
  font-size: 40px;
  font-family: 'HelveticaNeueLight';
  text-decoration: none;
}

.category{

}


#c {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 0;

}





